#HEROKU
#spring.datasource.url={url_base_heroku}
#spring.datasource.username={user_base_heroku}
#spring.datasource.password={pass_base_heroku}
#server.port=${PORT:8080}

spring.datasource.url={url_base_local}
spring.datasource.username={user_base_local}
spring.datasource.password={pas_base_local}

spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.database-platform=org.hibernate.dialect.MySQL5InnoDBDialect
spring.jpa.hibernate.ddl-auto= create-drop
#logging.level.org.hibernate.SQL=debug
logging.level.org.hibernate.SQL=INFO
app.config.cacheTimeout=360
app.config.cacheUnit=SECONDS
app.config.cacheMaxSize=100
passenger.birth.pattern=yyyy/MM/dd
jwt.secret={secret_pass}
server.servlet.context-path=/otravo/v1
management.endpoint.health.group.custom.show-components=always
management.endpoint.health.group.custom.show-details=always
admin.user={user_admin}
admin.pass={pass_admin}